# ðŸ’¾ Datasets

## Retriever

In [22]:
import pandas as pd
import retriever as rt

In [ ]:
rt.dataset_names()

In [21]:
data = rt.install_csv("gdp")

Progress:  30%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–Ž                                           | 3397/11507 [00:00<00:00, 33956.19rows/s]

Installing gdp_gdp.csv

Progress: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 11507/11507 [00:00<00:00, 34688.71rows/s]

In [24]:
df = pd.read_csv(data.file.name)
df.head()

  country_name country_code    year         value
0   Arab World          ARB  1968.0  2.576068e+10
1   Arab World          ARB  1969.0  2.843420e+10
2   Arab World          ARB  1970.0  3.138550e+10
3   Arab World          ARB  1971.0  3.642691e+10
4   Arab World          ARB  1972.0  4.331606e+10

## Scikit-Learn

In [25]:
import numpy as np
import pandas as pd
from sklearn import datasets

In [26]:
# load wine dataset from sklearn
wine = datasets.load_wine()

# load boston dataset as pandas dataframe
df = pd.DataFrame(wine.data, columns=wine.feature_names)
df.head()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0

## NLTK

In [57]:
import nltk

In [58]:
nltk.download(info_or_id="state_union", quiet=True)

True

In [59]:
w = nltk.corpus.state_union

In [60]:
w.raw()[:100]

"PRESIDENT HARRY S. TRUMAN'S ADDRESS BEFORE A JOINT SESSION OF THE CONGRESS\n \nApril 16, 1945\n\nMr. Spe"

In [67]:
words = nltk.word_tokenize(w.raw())
sw = nltk.corpus.stopwords.words("english")
cleaned = [w.lower() for w in words if w.isalpha() and w.lower() not in sw]
fd = nltk.FreqDist(cleaned)

In [68]:
df = pd.DataFrame(fd.items(), columns=["word", "frequency"])
df.sort_values(by="frequency", ascending=False).head(10)

           word  frequency
89         must       1568
250      people       1313
38        world       1194
519         new       1112
6      congress       1077
99      america       1077
54           us       1049
749        year       1039
626  government        943
741       years        829