# ðŸ’¾ Datasets

## Retriever

In [1]:
import pandas as pd
import retriever as rt

In [ ]:
rt.dataset_names()

In [3]:
data = rt.install_csv("gdp")

Progress:  43%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–‰                                   | 5000/11507 [00:00<00:00, 47808.03rows/s]

Installing gdp_gdp.csv

Progress: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 11507/11507 [00:00<00:00, 49554.35rows/s]

In [4]:
df = pd.read_csv(data.file.name)
df.head()

  country_name country_code    year         value
0   Arab World          ARB  1968.0  2.576068e+10
1   Arab World          ARB  1969.0  2.843420e+10
2   Arab World          ARB  1970.0  3.138550e+10
3   Arab World          ARB  1971.0  3.642691e+10
4   Arab World          ARB  1972.0  4.331606e+10

## Scikit-Learn

In [5]:
import numpy as np
import pandas as pd
from sklearn import datasets

In [6]:
# load wine dataset from sklearn
wine = datasets.load_wine()

# load boston dataset as pandas dataframe
df = pd.DataFrame(wine.data, columns=wine.feature_names)
df.head()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0

## NLTK

In [7]:
import nltk
import pandas as pd

In [8]:
nltk.download(info_or_id="state_union", quiet=True)

True

In [9]:
w = nltk.corpus.state_union

In [10]:
w.raw()[:100]

"PRESIDENT HARRY S. TRUMAN'S ADDRESS BEFORE A JOINT SESSION OF THE CONGRESS\n \nApril 16, 1945\n\nMr. Spe"

In [11]:
words = nltk.word_tokenize(w.raw())
sw = nltk.corpus.stopwords.words("english")
cleaned = [w.lower() for w in words if w.isalpha() and w.lower() not in sw]
fd = nltk.FreqDist(cleaned)

In [12]:
df = pd.DataFrame(fd.items(), columns=["word", "frequency"])
df.sort_values(by="frequency", ascending=False).head(20)

           word  frequency
89         must       1568
250      people       1313
38        world       1194
519         new       1112
6      congress       1077
99      america       1077
54           us       1049
749        year       1039
626  government        943
741       years        829
280    american        775
128      nation        736
509         one        659
73        every        657
170        make        642
26         time        626
121       peace        625
619     federal        622
392        work        591
209         war        571

## pydbgen

In [13]:
import os
import shutil

import pandas as pd
from pydbgen import pydbgen

In [14]:
# prep for existing datasets from pydbgen lib, required in local dir for execution below
files = ["Domains.txt", "US_Cities.txt"]
for f in files:
    shutil.copyfile(
        "{}/{}".format(os.path.dirname(pydbgen.__file__), f),
        "{}/{}".format(os.getcwd(), f),
    )

In [15]:
dbgen = pydbgen.pydb()
dbgen

In [16]:
df = dbgen.gen_dataframe(
    25, fields=["name", "city", "phone", "license_plate", "email"],
)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           25 non-null     object
 1   city           25 non-null     object
 2   phone-number   25 non-null     object
 3   license-plate  25 non-null     object
 4   email          25 non-null     object
dtypes: object(5)
memory usage: 1.1+ KB

## pandas-datareader

In [17]:
import pandas_datareader.data as web
import datetime

In [18]:
# https://pydata.github.io/pandas-datareader/stable/remote_data.html#remote-data-fred
gdp = web.DataReader('GDP', 'fred', datetime.datetime(2000, 1, 1), datetime.datetime(2005, 1, 1))
gdp.head()

                  GDP
DATE
2000-01-01  10002.857
2000-04-01  10247.679
2000-07-01  10319.825
2000-10-01  10439.025
2001-01-01  10472.879

In [19]:
# https://pydata.github.io/pandas-datareader/stable/remote_data.html#oecd
oecd_tud = web.DataReader('TUD', 'oecd', datetime.datetime(2012, 1, 1))
oecd_tud.head()

Country                Hungary                                                 \
Source     Administrative data                                    Survey data
Series               Employees Union members Trade union  density   Employees
Year
2012-01-01                 NaN           NaN                  NaN         NaN
2013-01-01                 NaN           NaN                  NaN         NaN
2014-01-01                 NaN           NaN                  NaN         NaN
2015-01-01                 NaN           NaN                  NaN         NaN
2016-01-01                 NaN           NaN                  NaN         NaN

Country                                                    Mexico  \
Source                                        Administrative data
Series     Union members Trade union  density           Employees
Year
2012-01-01           NaN                  NaN                 NaN
2013-01-01           NaN                  NaN                 NaN
2014-01-01           NaN                  NaN                 NaN
2015-01-01           NaN                  NaN                 NaN
2016-01-01           NaN                  NaN                 NaN

Country                                                    ...  \
Source                                        Survey data  ...
Series     Union members Trade union  density   Employees  ...
Year                                                       ...
2012-01-01           NaN                  NaN         NaN  ...
2013-01-01           NaN                  NaN         NaN  ...
2014-01-01           NaN                  NaN         NaN  ...
2015-01-01           NaN                  NaN         NaN  ...
2016-01-01           NaN                  NaN         NaN  ...

Country                Portugal                            \
Source      Administrative data Survey data
Series     Trade union  density   Employees Union members
Year
2012-01-01                 60.1         NaN           NaN
2013-01-01                  NaN         NaN           NaN
2014-01-01                  NaN         NaN           NaN
2015-01-01                  NaN         NaN           NaN
2016-01-01                  NaN         NaN           NaN

Country                                     Germany                \
Source                          Administrative data
Series     Trade union  density           Employees Union members
Year
2012-01-01                  NaN             22940.0        8099.0
2013-01-01                  NaN             23366.0        8154.0
2014-01-01                  NaN             23107.0        8092.0
2015-01-01                  NaN             22755.0        7964.0
2016-01-01                  NaN             22768.0        7893.0

Country
Source                          Survey data
Series     Trade union  density   Employees Union members Trade union  density
Year
2012-01-01                 35.3         NaN           NaN                  NaN
2013-01-01                 34.9         NaN           NaN                  NaN
2014-01-01                 35.0         NaN           NaN                  NaN
2015-01-01                 35.0         NaN           NaN                  NaN
2016-01-01                 34.7         NaN           NaN                  NaN

[5 rows x 216 columns]