# ðŸ“œ PDF Data

In [1]:
import camelot
import pandas as pd

In [2]:
target = "https://..."

In [4]:
tables = camelot.read_pdf(target, pages="all")
len(tables)

5

In [14]:
df = pd.concat([table.df[1:] for table in tables])
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 117 entries, 1 to 21
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       117 non-null    object
 1   1       117 non-null    object
 2   2       117 non-null    object
 3   3       117 non-null    object
 4   4       117 non-null    object
 5   5       117 non-null    object
 6   6       117 non-null    object
 7   7       117 non-null    object
dtypes: object(8)
memory usage: 8.2+ KB

In [15]:
df.columns = tables[0].df.iloc[0].to_list()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 117 entries, 1 to 21
Data columns (total 8 columns):
 #   Column                                                      Non-Null Count  Dtype
---  ------                                                      --------------  -----
 0   NEIGHBORHOOD PARKS
NEIGHBORHOOD PARKS
Location
Location     117 non-null    object
 1                                                               117 non-null    object
 2   Play gro u n d
Play gro u n d                               117 non-null    object
 3   B asketb all
B asketb all                                   117 non-null    object
 4   S oftb all
S oftb all
B ase ball /
B ase ball /            117 non-null    object
 5   T e n nis
T e n nis                                         117 non-null    object
 6   S kate P ark
S kate P ark
S kate S p ot /
S kate S p ot /  117 non-null    object
 7   A d ditio n al
A d ditio n al                               117 non-null    object
dtypes: object(8)
memory usage: 8.2+ KB

In [16]:
df.columns

Index(['NEIGHBORHOOD PARKS\nNEIGHBORHOOD PARKS\nLocation\nLocation', '',
       'Play gro u n d\nPlay gro u n d', 'B asketb all\nB asketb all',
       'S oftb all\nS oftb all\nB ase ball / \nB ase ball /',
       'T e n nis\nT e n nis',
       'S kate P ark\nS kate P ark\nS kate S p ot / \nS kate S p ot /',
       'A d ditio n al\nA d ditio n al'],
      dtype='object')

In [17]:
df.columns = [col.upper().split("\n")[0].replace(" ", "") for col in df.columns]
df.columns

Index(['NEIGHBORHOODPARKS', '', 'PLAYGROUND', 'BASKETBALL', 'SOFTBALL',
       'TENNIS', 'SKATEPARK', 'ADDITIONAL'],
      dtype='object')

In [19]:
df = df.rename(columns={"": "LOCATION"})
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 117 entries, 1 to 21
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   NEIGHBORHOODPARKS  117 non-null    object
 1   LOCATION           117 non-null    object
 2   PLAYGROUND         117 non-null    object
 3   BASKETBALL         117 non-null    object
 4   SOFTBALL           117 non-null    object
 5   TENNIS             117 non-null    object
 6   SKATEPARK          117 non-null    object
 7   ADDITIONAL         117 non-null    object
dtypes: object(8)
memory usage: 8.2+ KB